.survey{
	overflow: auto;
}
.containerWider{
	width: 54%;
}
main.container{
	min-height: 285px;
}
h2{
	margin-bottom: 5px;
	color: #132053;
}
table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	cursor: pointer;
	text-align: left;
	box-shadow: 5px 5px 5px #eeeded;
	margin-bottom: 25px;
	border: 1px solid #eeeded;
}
thead{
	background: #0052d2;
	color: #fff;
}
th{
	padding: 6px;
	font-size: 0.8em;
	letter-spacing: 0.03em;
	font-weight: lighter;
	line-height: 2.05em;
}
thead tr{
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}
tr:nth-child(even){
	background-color: #f4dfb6;
}
tr:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
}
td{
	font-size: 0.90em;
	padding: 5px;
	line-height: 2.25em;
}
button.add-based{
	margin-top: 15px;
}
.surveys-list{
	padding-top: 25px;
	clear: right;
}
input.add-based{
	width: 70%;
}
.MuiForm{
	width: 100%;
}
.mainNav{
	width: 100%;
}
.ArrowBack, .ArrowUp{
	color: #fff;
	background: #0052d2;
	border-radius: 20px;
	padding: 2px;
	position: relative;
	right: 0;
	float: right;
	font-size: 1.95em !important;
	padding: 4px;
	cursor: pointer;
}
.ArrowUp{
	position: fixed;
	right: 0;
	bottom: 15px;
	margin: 20px;
}
.mainNav, .mainNav h2{
	display: inline-block;
}
