.formGroup{
	min-width: 250px;
}
form.module{
	padding-top: 58px;
}
.survey-details{
	display: flex;
	font-size: 0.8em;
	color: #6a6969;
}
.survey-details p{
	display:block;
}
p.padding-10{
	padding: 0px 10px;
}
h2{
	margin-bottom: 5px;
}
h2:after{
	display: block;
	content: '';
	width: 15%;
	height: 4px;
	background: #db8619;
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 2px;
	margin: 5px 0px 12px;
	opacity: 0.65;
}
select.sel1{
	font-size: 0.80em;
	padding: 5px;
	width: 70%;
	text-align: center;
}